.loginWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: max-content;
  margin: auto;
  margin-top: 20px;
}

.inpWrapper {
  display: flex;
  flex-direction: column;
}

.inpWrapper label,
input {
  padding: 5px 0;
}

.loginWrapper button {
  margin-top: 20px;
}
