.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  border: 1px solid gray;
  flex: 1 1 300px;
  max-width: 300px;
  height: max-content;
}

.product-wrapper img {
  width: 200px;
  object-fit: cover;
}

.pagination-wrapper {
  height: 20px;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 20px;
  align-items: center;
  gap: 8px;
}

.page-count {
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-count:hover {
  background-color: rgb(173, 177, 177);
}

.active {
  background-color: rgb(173, 177, 177);
}
