body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.numbers {
  height: 50px;
  outline: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
