.canvas-main {
  display: flex;
  gap: 20px;
}

.canvas-container {
  flex: 0 0 80%;
  border: 1px solid black;
}

.canvas-save-btn-wrapper {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.canvas-controls {
  padding: 5px;
  display: flex;
  gap: 20px;
}
