.header-container {
  padding: 16px 10px;
  background-color: #d5dbe4; /* slate-800 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.switch-container {
  position: relative;
  display: flex;
  background-color: #334155; /* slate-700 */
  border-radius: 999px;
  gap: 0;
  width: 150px;
  max-width: 90vw;
  height: 48px;
  overflow: hidden;
}

.switch-button {
  flex: 1;
  border: none;
  background: none;
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s ease;
}

.switch-button.active {
  color: white;
  font-weight: 600;
}

.switch-slider {
  position: absolute;
  height: 40px;
  width: 50%;
  top: 4px;
  left: 0;
  background-color: #3b82f6; /* blue-500 */
  border-radius: 999px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.switch-slider.right {
  transform: translateX(100%);
}

.menu-wrapper:hover {
  cursor: pointer;
}
