.nav {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav .navList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav a {
  color: rgb(4, 4, 4);
  text-decoration: none;
}

.nav img {
  height: 50px;
  width: 50px;
}

.navList a:hover {
  color: darkgray;
}

.navList a.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
